.button {
    border: none;
    font-family: inherit;
    font-size: 18px;
    color: var(--text);
    padding: 0 10px;
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
}